/*css de home*/
.encabezado{
    background: #C96474;
    margin-bottom:3%;
    float: left;  
    width: 100%;
    border-radius: 10px;
}

.logo{
    margin-top: 2%;
    width: 5%;
    margin-left: 2%;
    float: left;
   border-radius: 30px;
   
}
 
h1{
    margin-bottom: 4%;
    float: left;
    margin-left:1%;
    font-family:cursive,Arial, Helvetica, sans-serif;
    font-size: 150%;
    color: cornsilk;
    margin-top: 3%;
}

nav{
    float: left;
    margin-left: 50%;
    padding: 4%  0%;
    text-align: right;
}  

a{
    font-family:cursive,Arial, Helvetica, sans-serif;
    color:cornsilk;
    font-size: 115%;
    margin-left: 2px;
  
    text-decoration: none;
}
    
a:hover{
    background:#F8A6AC ;
   
}
  
.reseña{
    clear: both;
    font-family: cursive,Arial, Helvetica, sans-serif;;
    font-size:150% ;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: #C96474;
}
   
.subtitulo{
    font-family: cursive,Arial, Helvetica, sans-serif;;
    margin: 0 auto;
    text-align: center;
    font-size:170% ;
    color: #C96474;
   } 
   
.nombrereceta{
    font-family: cursive,Arial, Helvetica, sans-serif;;
    text-align: center;
    color: #C96474 ;
    font-size: 125%;
}

 .clase{
    width: 25%;
    background:beige;
    border:#F8A6AC 5px solid;
    border-radius: 10px;
    margin-left: 6%;
    margin-top: 2%;
    float: left;   
    margin-bottom: 2%;
}
   
.images{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
   
}
.pregunta{
    clear: both;
    font-family:cursive,Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:185% ;
    color:#C96474;
}
.random{
    text-align: center;
   background:#C96474; 
    border-radius: 10px;
    margin-left: 10%; 
    margin-right: 10%;
}
.input {
  float: left;
  color :beige;
  font-size: 150%;
  margin-left: 22%;
}
.respuesta{
    clear: both;
    color:beige ;
    font-size: 150%;
}



/*css de receta salada y dulc*/
.tipo{
    clear: both;
    font-family: cursive,Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:156.25% ;
    color:beige;
    background:#C96474 ;  
    border-radius: 10px;
    width: 60%;
    left:60% ;
    margin-left: 20%;
}

.receta{
    border-radius: 40px;
    margin-left: 10%;
    margin-right: 10%;
    background: beige;
    padding: 1%;
    margin-bottom: 3%;
}
  
.recetanombre{
    font-family:cursive,Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 190%;
    color:  #C96474;
}
  
.imagen{
    margin-top: 3%;
    width: 40%;
    margin-left: 33%;
    margin-bottom: 4%;
    border-radius: 5px;
    float: left;

}
  
.ingrediente{
    margin-top: 2%;
    margin-left: 2%;
    float: left;
}
h4{
    margin-left: 8%;
    font-size: 135%;
    color:#C96474;
    font-family:cursive,Arial, Helvetica, sans-serif;
}
ul{
    font-size: 125%;
    font-family:cursive,Arial, Helvetica, sans-serif;
}

.pasos{
    clear: both;
    font-size:156.25%;
    color: #C96474;
    text-align: center;
    font-family: cursive,Arial, Helvetica, sans-serif;
}

ol{
    font-size:106.25% ;
    font-family: cursive,Arial, Helvetica, sans-serif;  
    margin-left: 5%;
    margin-right: 5%; 
}

h5{
    font-size: 156.25% ;  
    color: #C96474;
    font-family:cursive,Arial, Helvetica, sans-serif;
    text-align: center;
    }

table{
    border-collapse: collapse;
    margin: 0 auto;
}

th{
    border-collapse: collapse;  
    border: 3px solid #F8A6AC;  
    font-family:cursive,Arial, Helvetica, sans-serif;
    color: #C96474; 
}
td{
    border: 3px solid #F8A6AC;
    font-size:106.25% ;
    text-align: center;
    font-family: cursive,Arial, Helvetica, sans-serif;
}
/*css de suscripcion*/
.titulosub{
    font-family:cursive,Arial, Helvetica, sans-serif;
    color:#C96474;
    font-size: 140%;
}

.Suscripcion{
  clear: both;
  border: 3px solid #C96474; 
  width: 70%;
  text-align: center;
  margin: 0 auto;
  background: beige;
  border-radius: 10px;
}

form{
    font-family:cursive,Arial, Helvetica, sans-serif;
    color:#C96474;
}

.boton{
    background:#C96474 ;
    font-family: cursive,Arial, Helvetica, sans-serif;
    color: beige;
    font-size: 110%;
}
